/*

    global.css handles all high-level custom elements

*/

/* -- PAGE ELEMENTS -- */
body, html {
    height: 100%;
    width: 100%;
    margin: 0px;
}

/* -- NAV -- */
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    width: 100%;
    box-sizing: border-box;

    transition-duration: 0.2s;
    z-index: 999;
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav.on-scroll {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: var(--tertiary75);
}

/* CHILDREN */
.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 100%;
}
.nav-buttons > .button, .nav-buttons > .sep.vertical {
    margin: 0px 5px;
}
.nav-buttons > .sep.vertical {
    height: 20px;
}

.nav-icon {
    height: 30px;
    width: auto;
}

/* MOBILE */
.mobile-nav {
    background-color: var(--tertiary);

    position: fixed;
    z-index: 999;

    width: 0%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition-duration: 0.3s;
}

.mobile-nav > .button.icon {
    position: absolute;
    top: 0px;
    right: 0px;
}

.mobile-nav-buttons {
    display: none;
    flex-direction: column;

    width: 100%;
    box-sizing: border-box;
}


/* -- MAIN -- */
.main {
    width: 100%;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;

    background-color: var(--primary);
}
.main > .sep.horizontal {
    margin: 60px 0px;
}

/* CONTENT SECTIONS */
.content-section {
    padding: 20px 0px;
    min-height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-section h1, .content-section p {
    color: var(--tertiary);
}

.column-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.column {
    height: 100%;
    flex-grow: 1;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.column.bi, .column.tri {
    padding: 20px;
}
.column.bi > img {
    height: auto;
    width: 100%;
    max-width: 1500px;
    border-radius: var(--cornerRounding);
    box-shadow: 0px 0px 100px #00000026;
}
.column.tri > img {
    height: 100px;
    width: auto;
    margin: 40px;
}
.column > h1, .column > h2, .column > p {
    color: var(--tertiary);
    text-align: center;

    margin: 10px;
}

.column-section {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.column-section > .button {
    margin: 20px;
}
.column-section > p {
    max-width: 600px;
    text-align: center;
}


/* -- FOOTER -- */
.footer {
    padding: 20px;

    background-color: var(--primaryLight);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer > p {
    color: var(--tertiary75);
}


/* -- MEDIA QUERIES -- */
@media screen and (max-width: 1000px) {
    .column-container {
        flex-direction: column;
    }

    .nav-buttons {
        display: none;
    }
}