/* -- HEADER -- */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background: url(../../content/images/brand/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 50%;
}

/* -- COLUMNS -- */
.column.column-text {
    align-items: flex-start;
}
.column.column-text > p, .column.column-text > h2, .column.column-text > ul {
    text-align: left;
}

/* -- ROWS -- */
.row-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    min-width: 50%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.row > h3 {
    color: var(--tertiary);
}
.row > img {
    width: 50px;
    padding: 20px;
    padding-right: 40px;
}