/* -- HEADER -- */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background: url(../../content/images/brand/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 100%;
}

.header > img {
    width: calc(50% - 50px);
    max-width: 600px;
    height: auto;
}

.header-container{
    align-items: flex-end;

    max-width: 600px;
}
.header.responsive > img {
    margin: 50px;
}
.header-container > p, .header-container > h1 {
    text-align: right;
    margin: 10px 0px;
}
.header-container > .button {
    margin-right: 0px;
}
.header-container > p.small {
    font-size: 12px;
    margin-top: 0px;
}


/* -- MEDIA QUERIES -- */
@media screen and (max-width: 1000px) {
    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header > img {
        width: calc(75% - 50px);
        max-width: 400px;
    }
    .header-container {
        align-items: center;
        margin-top: 20px;
    }
    .header-container > p, .header-container > h1 {
        text-align: center;
    }
}